spring:
  datasource:
    # 开发环境：阿里云 MySQL 数据库配置
    url: jdbc:mysql://47.107.131.134:3306/shoparro?useSSL=false&serverTimezone=Asia/Shanghai&characterEncoding=utf8&useUnicode=true
    username: ${DB_USERNAME:root}
    password: ${DB_PASSWORD:jfq123}
  
  jpa:
    hibernate:
      ddl-auto: update  # 开发环境自动更新表结构
    show-sql: true
    properties:
      hibernate:
        format_sql: true

logging:
  level:
    root: INFO
    com.shoparro: DEBUG
    org.hibernate.SQL: DEBUG

